 * {
   margin: 0;
   padding: 0;
   position: relative;
 }

 header {
   align-content: stretch;
   align-items: flex-end;
   background: #2E4045;
   color: #9995ef;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   font-family: 'STIX Two Text', serif;
   font-weight: 700;
   height: 111px;
   justify-content: space-between;
   position: relative;
   width: 100%;
 }

 li {
   list-style: none;
 }

 ul {
   align-content: center;
   align-items: baseline;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   padding: 5px;
 }

 ul a {
   align-content: center;
   align-items: baseline;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   padding: 5px;
   text-decoration: none;
   color: inherit;
 }

 .admin {
   position: absolute;
   top: 5px;
   right: 10px;
   z-index: 2;
 }

 .admin-icon {
   height: 16px;
   left: -32px;
   position: absolute;
   top: 1px;
   width: 16px;
   z-index: 2;
 }

 li a {
   text-decoration: none;
   color: inherit;
 }

 .website-logo {
   display: flex;
   height: 154px;
   position: absolute;
   right: 10px;
   top: 10px;
   width: 216px;
   z-index: 2;
 }

 body {
   align-items: center;
   background: #BFB5B2;
   display: flex;
   flex-direction: column;
   font-family: 'Anuphan', sans-serif;
   justify-content: flex-start;
   min-height: 100vh;
   width: 100%;
 }

 h1 {
   color: #2E4045;
   font-family: 'STIX Two Text', serif;
   margin-right: auto;
   padding: 20px;
   text-shadow: 1px 1px 1px rgba(46, 64, 69, 0.5);
 }


 .grid {
   display: grid;
   gap: 10px;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr;
 }

 .flex-container {
   align-items: center;
   display: flex;
   justify-content: center;
 }

 .icon {
   height: 14px;
   margin-left: 12px;
   margin-right: 3px;
   width: 14px;
 }

 h3 {
   margin-left: 3px;
 }

 h2,
 h4 {
   align-self: flex-start;
   font-family: 'STIX Two Text', serif;
   margin-left: 15px;
 }

 /* article/video box  */
 .video-box {
   background: #DDD4D4;
   box-shadow: -2px 0px 2px 0px rgba(46, 64, 69, 0.5);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   max-width: 208px;
   min-height: 304px;
   position: relative;
   width: 100%;
 }

 .video-info {
   align-items: center;
   color: #2E4045;
   display: flex;
   flex-direction: column;
   height: 195px;
   justify-content: space-evenly;
   position: relative;
   width: 208px;
 }

 .video-url {
   align-items: center;
   background: #C7BBC9;
   display: flex;
   height: 35px;
   justify-content: center;
   text-align: center;
   width: 181px;
 }

 .video-url a {
   align-content: center;
   align-items: baseline;
   color: inherit;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   padding: 5px;
   text-decoration: none;
 }

 .video {
   height: 111px;
   position: relative;
   width: 208px;
 }

 .general-text {
   align-self: flex-start;
   font-size: 14px;
   margin-left: 15px;
 }

 button {
   background: transparent;
   border: 0;
   cursor: pointer;
   left: 10px;
   position: absolute;
   top: 10px;
   z-index: 2;
 }

 .views {
   color: #9995ef;
   font-size: 25px;
   font-weight: bolder;
   position: absolute;
   right: 10px;
   text-align: center;
   text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
   top: -105px;
 }

 .small-font-view {
   font-size: 12px;
 }

 .video-img {
   display: flex;
   filter: brightness(60%);
   flex: 0 0 50%;
   height: 111px;
   position: absolute;
   width: 208px;
 }

 .navigate-icon {
   height: 20px;
   width: 20px;
 }


 @media screen and (max-width:600px) {
   header {
     width: 100%;
   }

   .website-logo {
     display: none;
   }

   .video-box {
     width: 100%;
   }

   .grid {
     grid-template-columns: repeat(2, 1fr);
   }

   .video-info {
     height: auto;
   }

   .video {
     height: 150px;
   }

   .video-img {
     height: 150px;
     position: static;
     width: 100%;
   }

   .navigate-icon {
     display: none;
   }
 }